<% comment.replies.each do |reply| %>
  <% unless reply.id.nil? %>

    <div class="row">
      <div class="col-md-8 offset-md-3">
        <div class="row">
          <div class="col-md">
            <div class="comment-date">返信：<%= l reply.created_at %>　
              <%= link_to "#{reply.user.nick_name}", user_path(reply.user.id) %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 text-center">
            <div>
              <%= link_to user_path(reply.user.id) do %>
                <%= image_tag reply.user.avatar.thumb.url.to_s, :size =>'60x60', class: "rounded-circle"%>
              <% end %>
            </div>
          </div>
          <div class="col-md-10">
            <div><%= simple_format reply.comment %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md text-right">
        <% if reply.user == current_user %>
          <p><%= link_to '削除', post_post_comment_reply_path(comment.post_id, comment.id, reply.id), method: :delete, remote: true, class: "btn btn-outline-danger btn-sm" %>
          </p>
        <% end %>
      </div>
    </div>

  <% end %>
<% end %>