<div class="container-fluid">
  <div class="notice"><%= flash.notice %></div>
  <div class="alert"><%= flash.alert %></div>

  <div class="row">
    <div class="col-md text-center">
      <h2 class="title">
        <strong>アカウント編集</strong>
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <%= form_with(model:@user, local: true) do |f| %>

        <%= render "devise/shared/error_messages", resource: @user %>

        <div class="form-group">
          <%= f.label :name %>
            <small class="form-text text-muted">
              【 2文字以上 】
            </small>
          <%= f.text_field :name, class: "form-control", autofocus: true, placeholder:"氏名", autocomplete: "name" %>
        </div>
        <div class="form-group">
          <%= f.label :email %>
            <small class="form-text text-muted">
              【 1〜15文字以内 】
            </small>
          <%= f.email_field :email, class: "form-control", placeholder:"Eメール", autocomplete: "email" %>
        </div>
        <div class="form-group">
          <%= f.label :nick_name %>
            <small class="form-text text-muted">
              【 1〜15文字以内 】
            </small>
          <%= f.text_field :nick_name, class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :avatar %>
          <%= f.file_field :avatar, class:"form-control-file" %>
        </div>

        <div class="form-group">
          <%= f.label :introduction %>
            <small class="form-text">
              【 1000文字以内 】
            </small>
          <%= f.text_area :introduction, class:"form-control", rows:"16" %>
        </div>
        <div class="actions text-right">
          <%= f.submit class: "btn btn-info btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
