<div class="container-fluid">

  <div class="row">
    <div class ="col-md text-center">
      <h1 class="title">
        <strong>アカウント編集</strong>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class ="col-md-6 offset-md-3">
      <%= form_with(model:@user, local: true) do |f| %>

        <%= render "devise/shared/error_messages", resource: @user %>

        <div class="form-group">
          <%= f.label :ニックネーム %>
            <small class="form-text text-muted">
              【 1〜15文字以内 】
            </small>
          <%= f.text_field :nick_name, class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :アカウント画像 %>
          <%= f.file_field :avatar, class:"form-control-file" %>
        </div>

        <div class="form-group">
          <%= f.label :introduction, '自己紹介' %><br>
            <small class="form-text text-muted">
              【 600文字以内 】
            </small>
          <%= f.text_area :introduction, class:"form-control", rows:"16" %>
        </div>
        <div class="actions">
          <%= f.submit '保存', class: "btn btn-info btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
