<div class="container-fluid">
  <div class="row">
    <div class ="col-md-3 offset-md-1">
      <%= image_tag @user.avatar.thumb.url.to_s, :size =>'200x200' ,class: "rounded-circle" %>
    </div>
    <h1 class="title"><%= @user.nick_name %>
    </h1>
  </div>



  <div class="row">
    <div class="col-md-6 offset-4">
      <div class="cover">
        <h3><strong>自己紹介</strong></h3>
          <p><%= simple_format @user.introduction %></p>
        <% if @user==current_user %>
          <br><%= link_to '編集する', edit_user_path(@user), class: "btn btn-info btn-md edit_user_#{@user.id}" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class ="col-md-2 text-center">
        <h2 class="title"><strong>投稿一覧</strong></h2>
    </div>
  </div>
  <div class="row">
    <div class ="col-md-9 offset-md-2">
      <%= render "posts/form", posts: @user.posts %>
    </div>
  </div>

  <% if @user==current_user %>
    <% if @favorite_list.present? %>
      <div class="row">
        <div class ="col-md-2 text-center">
            <h2 class="title">
              <strong><i class="fas fa-heart fa-sm heart-red"></i> 一覧</strong>
            </h2>
        </div>
      </div>
      <div class="row">
        <div class ="col-md-9 offset-md-2">
          <%= render "posts/form", posts: @favorite_list %>
        </div>
      </div>
    <% end %>
  <% end %>

</div>
