<div class="main-visual-cover">
  <canvas class="background"></canvas>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.min.js">
  </script>
  <div class="container-fluid">
    <div class="row main-visual">
      <div class="col-md-6 offset-md-3 text-center">
        <h1>E.G.C.</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        「作品をこのまま眠らせたくない」そんな思いはありませんか？<br>
          E.G.C.はポートフォリオの投稿・閲覧から、
          同じ志を持つ人と繋がることができる場です！
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center main-centense">
        <% if user_signed_in? %>
          <%= link_to '作品を見てみる！！', posts_path, class: "btn btn-outline-info btn-lg" %><br>
          <%= link_to 'マイページ', new_user_session_path, class: "btn btn-outline-warning btn-lg" %>
        <% else %>
          <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: "btn btn-outline-info btn-lg" %><br>
          <%= link_to '新規登録', new_user_registration_path, class: "btn btn-outline-danger btn-lg" %>
          <%= link_to 'ログイン', new_user_session_path, class: "btn btn-outline-success btn-lg" %><br>
          <%= link_to user_google_omniauth_authorize_path, class: "btn btn-outline-warning btn-lg" do %>
            <i class="fab fa-google fa-fw"></i>認証
          <% end %>
          <p><small>※ ログインしていない場合は、[<i class="fas fa-home"></i> About 作品一覧]のみご利用が可能です</small></p>
        <% end %>
      </div>
    </div>
  </div>

</div>