<!DOCTYPE html>
<html>
  <head>
    <title>E.G.C.</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <header>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-custom">
          <%= link_to "E.G.C.", root_path, class: "navbar-brand  mb-0 h1 brand" %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav ">

              <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to '', root_path, class: "nav-link fas fa-home fa-lg" %>
                </li>
                <li class="nav-item">
                  <%= link_to 'About', homes_about_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to '作品一覧', posts_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to '新規投稿', new_post_path, class: "nav-link" %>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= current_user.nick_name %></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <%= link_to 'マイページ', user_path(current_user), class: "dropdown-item" %>
                      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                    </div>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to '', root_path, class: "nav-link fas fa-home fa-lg" %>
                </li>
                <li class="nav-item">
                  <%= link_to 'About', homes_about_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to '作品一覧', posts_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to '新規登録(無料)', new_user_registration_path, class: "nav-link" %></li>
                <li class="nav-item">
                  <%= link_to 'ログイン', new_user_session_path, class: "nav-link" %>
                </li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  ログインしてください
                  </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <%= link_to 'マイページ', new_user_session_path, class: "dropdown-item" %>
                    </div>
                </li>
              <% end %>
            </ul>
          </div>
        </nav>
      </header>
      <main>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>

        <span id="back">
          <%= link_to "#" do %>
            <i class="fas fa-chevron-circle-up fa-2x" alt="トップに移動する"></i>
          <% end %>
        </span>

      </main>
      <footer>
        <div class="footer-contence">お問い合わせ先：xxxxxx＠xxxx.com</div>
        <div class="copyright">
            Copyright © E.G.C. Inc. All Rights Reserved.
        </div>
      </footer>
    </div>
  </body>
</html>
